/*Cabecalho inicio */
.top-menu {
  padding-left: 10px;
  display: flex;
  justify-content: left;
  gap: 40px;
}
.logop img {
  padding-top: 10%;
  display: block;
  width: 100px;
}

.menu {
  width: 100%;
  padding-top: 1.5%;
}

.menu-item {
  display: inline;
  padding: 10px;
  border-radius: 6px;
}
.menu-item a {
  text-decoration: none;
  padding: 1em 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffff;
}

.menu .menu-item.ativo a::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  bottom: 0;
  left: 25%;
  border-bottom: 1px solid #fe7467;
}
.ativo a {
  position: relative;
}

.banner img {
  width: 100%;
}

.banner {
  display: flex;
  position: absolute;
  height: 800px;
  width: 20%;
  align-items: center;
  margin-left: 90px;
}

header {
  background-image: url(../img/spidermanheader.jpg);
  background-position: center;
  background-size: cover;
  height: 100svh;
  width: 100%;
}

.menu a {
  font-weight: 300;
  padding-bottom: 5px;
  position: relative;
}
.menu a:hover:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  bottom: 0;
  left: 25%;
  border-bottom: 1px solid #fe7467;
}
