@media screen and (max-width: 820px) {
  .conteiner-contato {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .conteiner-contato .nave-contato {
    text-align: center;
  }
  header {
    background-image: url(../img/contatoheader_mobile.jpg);
    height: 700px;
  }
  .conteiner-input {
    flex-direction: column;
    gap: 0px;
  }

  .banner-contato {
    display: none;
  }
}
